<footer>
    <div class="social">
          <p>Follow  us on social media</p>
          <ul class="wrapper">
            <a href="#" target="_blank">
              <li class="icon facebook">
                <span class="tooltip">Facebook</span>
                <span><i class="fab fa-facebook-f"></i></span>
              </li>
            </a>
            <a href="#" target="_blank">
              <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><i class="fab fa-instagram"></i></span>
              </li>
            </a>
            <a href="#" target="_blank">
              <li class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><i class="fab fa-twitter"></i></span>
              </li>
            </a>
          </ul>
        </div>
    <div class="final_text"></div>
    <p>Copyright &copy; All rights reserved</p>
</footer>
    